<h1>Maqolalar qo'shish</h1>
<div class="container mt-3 mb-3">
  <form
    action="/article/add"
    method="POST"
    class="needs-validation"
    enctype="multipart/form-data"
    novalidate
  >
    <!-- Maqolaning turi model name -->
    <div class="mb-3">
      <label class="form-label" for="validationCustom01"
        >Maqolaning sarlavhasi</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        placeholder="Maqolaning sarlavhasi"
        name="title"
        required
      />
      <div class="invalid-feedback">Maqolaning nomi yozilmagan</div>
      <div class="valid-feedback">Yaxshi</div>
    </div>
    <div class="mb-3">
      <label class="form-label"
        >Video linkini joylang video joylash niyatingiz bo'lmasa shartmas</label
      >
      <textarea
        name="video"
        class="form-control"
        rows="7"
        placeholder="Video linkini tahrirlash"
      ></textarea>
    </div>
    <hr style="color: red; height: 2px" />
    <!-- Maqolaning rasmi model file -->
    <div class="mb-3">
      <label class="form-label" for="validationCustom01"
        >Maqolaning rasmi</label
      >
      <input
        type="file"
        class="form-control"
        id="validationCustom01"
        placeholder="Xizmatning rasmini tanlang"
        name="image"
        required
      />
      <div class="invalid-feedback">Maqolaning rasmi tanlanmagan</div>
      <div class="valid-feedback">Rasm tanlandi</div>
    </div>
    <hr style="color: red; height: 2px" />
    <!-- Maqola haqida  model description -->

    <div class="entry">
      <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>
      <div class="body">
        <textarea id="editor1" name="description"></textarea>
        <script>
          CKEDITOR.replace("editor1");
        </script>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Yuklash</button>
  </form>
</div>




