<h1>Audioni tahrirlash</h1>

<div class="container mt-3 mb-3">
  <form
    method="POST"
    action="<%=`/home/${result._id}?_method=PUT`%>"
    class="needs-validation"
    novalidate
  >
    <!-- Loyihaning turi model name -->
    <div class="mb-3">
      <label class="form-label" for="validationCustom01"
        >Audio ning nomini yozing</label
      >
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        placeholder="Loyihaning turini yozing Uzbek tilida"
        name="name"
        value="<%= result.name %>"
        required
      />
      <div class="invalid-feedback">Audio ning nomini yozilmagan</div>
      <div class="valid-feedback">Yaxshi</div>
    </div>

    <button class="btn btn-primary" type="submit">Saqlash</button>
  </form>

  <form
    method="POST"
    action="<%=`/home/update/${result._id}?_method=PUT`%>"
    ref="uploadForm"
    encType="multipart/form-data"
    class="col-md-4 mt-3"
  >
    <div class="mb-3">
      <label>Audioni tahrirlash</label>
      <br />
      <audio controls>
        <source src="/uploads/home/<%= result.audio %>" />
      </audio>
     
    </div>
    <input class="form-control" name="audio" type="file" /> <br />

    <button type="submit" class="btn btn-primary col-md-5 mt-3">Saqlash</button>
  </form>
</div>
