<div class="container">
  <h2>Bosh sahifadagi qushiq</h2>
  <table class="table table-striped table-centered mb-0">
    <thead>
      <tr>
        <th>Rasm</th>
        <th>Turi</th>
        <th>Tahrirlash</th>
      </tr>
    </thead>
    <tbody>
      <% for (let item of home) { %>
      <tr>
        <td><%= item.name %></td>
        <td>
          <audio controls>
            <source src="/uploads/home/<%= item.audio %>" />
          </audio>
        </td>

        <td class="table-action">
          <a href="<%=`/home/${item._id}`%>" class="action-icon">
            <i class="mdi mdi-pencil"></i
          ></a>
          <form
            method="POST"
            class="hidden-r"
            action="<%=`/home/delete/${item._id}?_method=DELETE`%>"
          >
            <button type="submit">
              <i class="mdi mdi-delete"></i>
            </button>
          </form>
        </td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>
