<h1>Qo'shiq qo'shish</h1>
<div class="container mt-3 mb-3">
  <form
    action="/audio/add"
    method="POST"
    enctype="multipart/form-data"
    class="needs-validation"
    novalidate
  >
     <!-- Loyihaning turi model name -->
     <div class="mb-3">
        <label class="form-label" for="validationCustom01"
          >Qo'shiqning nomini yozing</label
        >
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Qo'shiqning nomini yozing"
          name="title"
          required
        />
        <div class="invalid-feedback">Qo'shiqni nomi yozilmagan</div>
        <div class="valid-feedback">Yaxshi</div>
      </div>
      <!-- Loyihaning turi model name -->
      <div class="mb-3">
        <label class="form-label" for="validationCustom01"
          >Artistni yozing</label
        >
        <input
          type="text"
          class="form-control"
          id="validationCustom01"
          placeholder="Artistni yozing"
          name="name"
          required
        />
        <div class="invalid-feedback">Artist yozilmagan</div>
        <div class="valid-feedback">Yaxshi</div>
      </div>

    <!-- Loyihaning rasmi model file -->
    <div class="mb-3">
      <label class="form-label" for="validationCustom01">Audioni yuklash</label>
      <input
        type="file"
        class="form-control"
        id="validationCustom01"
        name="audio"
        multiple
        required
      />
      <div class="invalid-feedback">Audio tanlanmagan</div>
      <div class="valid-feedback">Audio tanlandi</div>
    </div>

    <button class="btn btn-primary" type="submit">Yuklash</button>
  </form>
</div>
