<h2>Jamoa a'zolari haqida umumiy</h2>
<div class="container mt-3 mb-3">
  <!-- Bitta rasmni tahrirlash -->
  <form
    method="POST"
    action="<%=`/teamAbout/${result._id}?_method=PUT`%>"
    class="col-md-12 mt-3"
  >
    <textarea
      class="form-control"
      rows="7"
      placeholder="Jamoa a'zolari haqida umumiy"
      name="description"
    >
<%= result.description %></textarea
    >
    <br />

    <button type="submit" class="btn btn-primary col-md-3 mt-3">Saqlash</button>
  </form>
</div>
