<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" lang="ru-RU">

<head prefix="my_namespace: https://stroymontajinvest.uz/projectssru">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(87577600, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/87577600" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
 <meta name="google-site-verification" content="2DT0JL2EGfZ4X4zGsKtXuAYxaizitLJ7oGBeKu-2nXQ" />
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title> 
    <!-- Meta Search -->
    <meta name="description"
        content="Что такое очистные сооружения, какие бывают типы и их виды. Рассказываем принцип работы сооружения по очистке сточных вод.">
    <meta name="keywords"
        content="Очистные сооружения это, очистные сооружения">
    <!-- google-site-verification -->
    <meta name="google-site-verification" content="ldivJ572o4EOXJrhmFORnonbeR05MUI6nAo1NUjtYZQ" />
    <meta name="robots" content="index,follow" />
    <link rel="canonical" href="https://stroymontajinvest.uz/projectsru">
    <meta property="og:locale" content="ru_RU">
     <meta property="og:title" content="Что такое очистные сооружения,принцип работы,типы и виды" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="https://stroymontajinvest.uz/projectsru" /> 
      <meta property="og:image" content="https://stroymontajinvest.uz/uploads/projects/c43750a930f6472d0420de5596470fcc.jpg" />
        <meta property="og:image:secure_url" content="https://stroymontajinvest.uz/uploads/projects/c43750a930f6472d0420de5596470fcc.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="350" />
        <meta property="og:image:height" content="300" />
        <meta property="og:image:alt" content="очистные сооружения" />
      <meta property="og:description" content="Что такое очистные сооружения,какие бывают типы и их виды. Рассказываем принцип работы сооружения по очистке сточных вод." />
       <meta property="og:site_name" content="stroymontajinvest.uz" />
        
       

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/imp.css">
    <link rel="stylesheet" href="/css/custom-animate.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/hiddenbar.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/color.css">
    <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link rel="stylesheet" href="/css/rtl.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_stroy.png">
    <link rel="icon" type="image/png" href="/images/favicon_stroy.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon_stroy.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMJTN7M46K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XMJTN7M46K');
    </script>

</head>

<body class="content">

    <div class="boxed_wrapper ltr">
        <!-- Main header-->
        <header class="main-header header-style-one">

            <!--Start Header Top-->
            <div class="header-top">
                <div class="container">
                    <div class="outer-box clearfix">

                        <div class="header-top-left pull-left">
                            <div class="header-contact-info">
                                <div class="left">
                                    <p itemscope itemtype="https://schema.org/openingHours"><span class="flaticon-wall-clock"></span>
                                        <time itemprop="openingHours" datetime="Mo,Sa 08:00-20:00"> Ish vaqti
                                            : 08 : 00 / 20 : 00</time>.
                                       </p>
                                </div>
                                <div class="right">
                                    <p itemscope itemtype="https://schema.org/email"><span class="flaticon-envelope-2"></span><a href="" itemprop="email" >
                                        Электронной почты
                                            : suv.tozalash.inshootlari@yandex.com</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="header-top-right pull-right">
                            <div class="header-social-link-1">
                                <div class="social-link">
                                    <ul class="clearfix">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Top-->

            <!--Start Header-->
            <div class="header">
                <div class="container">
                    <div class="outer-box clearfix">
                        <div class="header-left clearfix pull-left">
                            <div class="logo">
                                <a href="/"><img src="/images/stroy_invest.png" class="img-logo" alt="Awesome Logo"
                                        title=""></a>
                            </div>
                        </div>
                        <div class="header-right pull-right">
                            <div class="header-contact-info2 clearfix">
                                <ul class="clearfix">
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-phone-call-1 clr1"></span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Телефон
                                            </p>
                                            <h4><a href="tel:+9988993105151">+9988 99 310 51 51</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-placeholder-1 clr1"></span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Адресс :
                                            </p>
                                            <h4>
                                                город Термез
                                            </h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End header-->

            <!--Start Header-->
            <div class="header-bottom">
                <div class="container">
                    <div class="outer-box clearfix">

                        <div class="header-bottom_left pull-left">
                            <div class="nav-outer style1 clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <div class="inner">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </div>
                                <!-- Main Menu -->
                                <nav class="main-menu style1 navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">

                                            <li class="current"><a href="/">
                                                Домой 
                                                </a></li>


                                            <li><a href="#about">
                                                О нас
                                                </a></li>

                                            <li><a href="#service">
                                                Услуги
                                                </a></li>

                                            <li><a href="#projects"> 
                                                Проекты
                                                </a></li>

                                            <li><a href="#team">
                                                Команда
                                                </a></li>
                                            <li><a href="/?clang=uz"><img
                                                        src="https://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Uzbekistan-Flag-icon.png"
                                                        width="20" height="20" alt="flag uzbekistan">
                                                    Уз
                                                </a></li>
                                            <li><a href="/?clang=ru"><img
                                                        src="https://icons.iconarchive.com/icons/wikipedia/flags/256/RU-Russia-Flag-icon.png"
                                                        width="20" height="20" alt="flag uzbekistan">
                                                    Ру
                                                </a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                        </div>

                        <div class="header-bottom_right pull-right">
                            <div class="outer-search-box-style1">
                                <div class="seach-toggle"><span class="flaticon-magnifiying-glass"></span></div>
                                <ul class="search-box">
                                    <li>
                                        <div class="form-group">
                                            <input type="search" id="search" placeholder="Qidiruv tizimi..."
                                                required="">
                                            <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-bottom_right__btn">

                                <a href="/contact"><span class="flaticon-comments"></span>
                                    Контакт
                                    <span class="flaticon-right-arrow-1 right-arrow"></span></a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End header-->


            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="container">
                    <div class="clearfix">
                        <!--Logo-->
                        <div class="logo float-left">
                            <a href="/" class="img-responsive"><img src="/images/stroy_invest.png" alt="stroy"
                                    title=""></a>
                        </div>
                        <!--Right Col-->
                        <div class="right-col float-right">
                            <!-- Main Menu -->
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->

            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon fa fa-times-circle"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="/"><img src="/images/stroy_invest.png" alt="" title=""></a>
                    </div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa fa-facebook-square"></span></a></li>
                            <li><a href="#"><span class="fab fa fa-telegram"></span></a></li>
                            <li><a href="#"><span class="fab fa fa-instagram-square"></span></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Mobile Menu -->

        </header>
        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" style="background-image: url(/images/breadcrumb/breadcrumb-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content">
                            <div class="title">
                                <h2>Проекты</h2>
                            </div>
                            <div class="breadcrumb-menu">
                                <ul>
                                    <li><a href="/">Домой</a></li>
                                    <li><span class="fa fa-angle-right"></span></li>
                                    <li class="active">Проекты<i class="flaticon-right-arrow-1 arrow1"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->


        <!--Start Project Style3 Area-->
        <section class="project-style3-area">
            <div class="container">
                <div class="row">
                    <% for (let item of projects) { %>
                        <!--Start Single Project Style1-->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="single-project-style1 wow fadeInUp" data-wow-delay="0ms"
                                data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="icon bgclr1"><span class="flaticon-factory-1"></span></div>
                                    <div class="inner">
                                        <img src="/uploads/projects/<%= item.file[0] %>" alt="Suv tozalash inshootlari"
                                            style="height: 300px !important; width: 350px !important;">
                                        <div class="zoom-button">
                                            <a class="lightbox-image" data-fancybox="gallery"
                                                href="/uploads/projects/<%= item.file[0] %>">
                                                <i class="flaticon-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <h4>
                                        <%= item.title.ru %>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!--End Single Project Style1-->
                        <%}%>
                </div>
            </div>
        </section>
        <!--End Project Style3 Area-->

        <!-- Description -->
        <section class="project-style3-area">
            <div class="container" itemscope itemtype="https://schema.org/HomeAndConstructionBusiness">
                <h1 class="text-center" itemprop="name">Очистные сооружения</h1>
                <p itemprop="description">Во всех начинаниях человека образуются сточные воды, которые нуждаются в очистке. СОСВ – Эти станции отвечают за очистку сточных вод от очистных сооружений . Это вода, образующаяся в результате деятельности человека в городах, промышленности, сельском хозяйстве и так далее. Он представляет потенциальную опасность для окружающей среды, поскольку при разливах и разливах могут выделяться токсичные вещества, способные вызвать экологические катастрофы.
                    <br>

                    Вот почему мы рассказываем вам все, что вам нужно знать о водоочистных сооружениях.
                <ul>
                    <li>0.1 Процессы водоподготовки</li>
                    <li>1 Обработка на очистных сооружениях</li>
                    <li> 1.0.1 Первичная обработка</li>
                    <li>1.0.2 Вторичная очистка на очистных сооружениях</li>
                </ul>
                <h2>Процессы очистки воды</h2>
                Чтобы вернуть воду в природную среду, они должны выполнить ряд процедур, основной целью которых является устранение отходов. Методы очистки различаются в зависимости от характеристик сточных вод и их конечного местоположения. Мы знаем, что сточные воды собираются по коллекторным трубам и попадают на очистные сооружения. Здесь проводятся различные процедуры по их очистке.
                <br>
                Почти во все сезоны вода задерживается в среднем на 24-48 часов, прежде чем вернуться в канал. Этот канал может быть рекой, водохранилищем или морем. В очистных сооружениях проходят следующие процедуры:

                <ul>
                    <li> <b>Предварительная очистка:</b> включает удаление самых крупных твердых частиц, присутствующих в воде, таких как песок и масла. Эта предварительная обработка необходима для подготовки воды для последующих процессов.</li>
                    <li><b>Первичная обработка</b></li>
                    <li><b>Вторичная очистка:</b> используется только в тех случаях, когда вы хотите дополнительно очистить воду, чтобы выливать ее на охраняемые природные территории. Из-за высокой стоимости они обычно не выполняются в обычном порядке..</li>
                </ul>
                <br>
                Мы объясним шаг за шагом, какие ключевые процессы происходят на очистных сооружениях.
                <h2>Обработка на очистных сооружениях</h2>
                <p>
                <h3>Первичная обработка</h3>
                Он состоит из некоторых физико-химических процессов, используемых для уменьшения количества взвешенных частиц в воде. Большинство обнаруженных взвешенных веществ могут быть осадочными или плавающими. Осадки обычно достигают дна через короткое время, причем последние настолько малы, что уже соединились с водой и не могут плавать мой осадок. Для уничтожения этих мелких частиц требуются другие необходимые обработки..

                Некоторые из методов, используемых в первичной обработке, включают:</p>

                <ul>
                    <li><b>Седиментация: </b> это процесс, при котором частицы осадка могут падать на дно под действием силы тяжести. Этот простой и недорогой процесс может удалить до 40% твердых веществ из воды. Внутри очистных сооружений есть резервуары, называемые декантерами, где происходит отстаивание.</li>

                    <li> <b>Флотация:</b> это включает удаление пены, жиров и масел, когда они оседают на поверхностный слой воды из-за их низкой плотности. В этом процессе также можно удалять частицы меньшей плотности. Это требует введения пузырьков воздуха для облегчения их подъема и удаления. При такой флотации можно удалить до 75% взвешенных твердых частиц. Этот процесс происходит в других резервуарах, называемых поплавками с расплавленным воздухом.</li>

                    <li><b>Нейтрализация :</b>  это процесс, состоящий из нормализации рН. Это означает, что вода должна иметь рН в диапазоне 6-8,5. Очистные сооружения для кислых сточных вод должны регулировать количество тяжелых металлов, добавляемых к щелочным веществам, для повышения рН воды. Напротив, сточные воды содержат больше щелочного углекислого газа, что приводит к возвращению pH к нормальным значениям.
                    </li>

                    <li><b>Другие процессы:</b> Если вы хотите добиться большей очистки сточных вод, используются некоторые методы, такие как септиктенки, лагуны, зеленые фильтры или химические процессы, такие как ионный обмен, восстановление, окисление и так далее.</li>
                </ul>

                <h2>Вторичная очистка на очистных сооружениях</h2>

                Как упоминалось ранее, эта вторичная очистка не будет выполняться в канализационных сооружениях, если только не требуется высокий уровень очистки. Он состоит из совокупности биологических процессов, направленных на практически полное разрушение имеющегося органического вещества. Это биологические процессы, в которых некоторые бактерии и микроорганизмы используются для преобразования органического вещества в клеточную биомассу, энергию, газ и воду. <b>Преимущество этого лечения перед другими в том, что оно эффективно на 90%.</b>

                При вторичной очистке очистных сооружений она разделяется некоторыми отдельными процессами, такими как аэробный и анаэробный. Первый - в присутствии кислорода, второй - в его отсутствии. Давайте посмотрим, что они из себя представляют:
                <ul>
                    <li><b>Аэробные процессы:</b> тычинкам необходимо добавлять кислород в емкости, которые попадают в сточные воды. На этом этапе происходит разложение органического вещества с выделением воды и углекислого газа. На этом этапе разрушаются азотсодержащие продукты, например аммиак, являющийся высокотоксичным продуктом азота. Хотя нитрат больше не токсичен, это форма, которая может усваиваться растениями, поэтому она может привести к размножению водорослей и повторному росту их питательных веществ. Процесс обогащения этими питательными веществами называется эвтрофикацией.</li>
                    <li>
                        <b>Анаэробные процессы :</b> это происходит в отсутствие кислорода и имеют место ферментативные реакции, в которых органические вещества превращаются в энергию, углекислый газ и газообразный метан.
                    </li>
                </ul>
                <br>
                Вот некоторые из процедур, выполняемых на очистных сооружениях:
                <br>
                <ul>
                    <li><b>Активный ил:</b> это обработка, которая проводится в присутствии кислорода и включает добавление набора органических веществ микроорганизмами для фильтрации кислорода, в котором происходят реакции.</li>

                    <li><b>Бактериальные слои:</b> это аэробный процесс, который включает в себя размещение оснований там, где присутствуют микроорганизмы и остатки воды. Небольшое количество добавляется для поддержания аэробных условий.</li>

                    <li><b>Зеленые фильтры</b>: это культуры, которые орошаются сточными водами и обладают способностью поглощать загрязняющие вещества..</li>

                    <li><b>Анаэробное сбраживание:</b> их проводят в полностью закрытых резервуарах при отсутствии кислорода. Здесь кислотные и метанообразующие вещества используются при разложении органики бактериями.</li>
                </ul>
                Я надеюсь, что с помощью этой информации вы сможете узнать больше об очистных сооружениях и их особенностях.
                </p>
                <p><b>Manzil:</b><span itemprop="address">г. Термез, гармонично развитая улица поколения 14</span></p>
                <p><a itemprop="telephone" href="tel:+9988993105151">+9988 99 310 51 51</a></p>
            </div>
        </section>
        <!--Start footer area -->
        <footer class="footer-area">
            <!--Start Footer-->
            <div class="footer">
                <div class="container">
                    <div class="row justify-content-between">
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-footer-widget marbtm wow animated fadeInUp" data-wow-delay="0.1s">
                                <div class="our-company-info">
                                    <div class="footer-logo">
                                        <a href="/"><img src="/images/stroy_invest.png" alt="Footer Logo"
                                                title="Logo"></a>
                                    </div>
                                    <div class="text-box">
                                        <p>Компания по производству жилищного строительства и очистных сооружений.</p>
                                    </div>
                                    <div class="footer-social-links">
                                        <ul class="social-links-style1">
                                            <li>
                                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                            <div class="single-footer-widget martop marbtm">
                                <div class="title">
                                    <h3>
                                        Домой
                                    </h3>
                                </div>
                                <ul class="footer-widget-links1">

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                        Услуги
                                        </a></li>

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                        Проекты
                                        </a></li>

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                        Команда
                                        </a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
                            <div class="single-footer-widget martop marbtm">
                                <div class="title">
                                    <h3>СЛУЖБА ПОДДЕРЖКИ</h3>
                                </div>
                                <ul class="footer-widget-links1">

                                    <li><a href="#">
                                        Помощь
                                        </a></li>

                                    <li><a href="#">
                                        Контакт
                                        </a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
            <!--End Footer-->
            <!--Start Footer Bottom-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom_content_box text-center">
                        <div class="copyright-text">
                            <p>&copy; 2022 <a target="_blank" href="https://tasnim.uz">Tasnim Texnalogiya Akademiyasi</a>
                                mualliflik huquqi asosida

                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer Bottom-->

        </footer>
        <!--End footer area-->


        <button class="scroll-top scroll-to-target bgclr1" data-target="html">
            <span class="fa fa-angle-up"></span>
        </button>

    </div>






    <script type="application/ld+json" src="/js/schema.json"></script>
    <script defer src="/js/jquery.js"></script>
    <script defer src="/js/aos.js"></script>
    <script defer src="/js/appear.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <script defer src="/js/bootstrap-select.min.js"></script>
    <script defer src="/js/isotope.js"></script>
    <script defer src="/js/jquery.bxslider.min.js"></script>
    <script defer src="/js/jquery.countdown.min.js"></script>
    <script defer src="/js/jquery.countTo.js"></script>
    <script defer src="/js/jquery.easing.min.js"></script>
    <script defer src="/js/jquery.enllax.min.js"></script>
    <script defer src="/js/jquery.fancybox.js"></script>
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <script defer src="/js/jquery.paroller.min.js"></script>
    <script defer src="/js/jquery.polyglot.language.switcher.js"></script>
    <script defer src="/js/jQuery.style.switcher.min.js"></script>
    <script defer src="/js/jquery-ui.js"></script>
    <script defer src="/js/knob.js"></script>
    <script defer src="/js/map-script.js"></script>
    <script defer src="/js/owl.js"></script>
    <script defer src="/js/pagenav.js"></script>
    <script defer src="/js/parallax.min.js"></script>
    <script defer src="/js/scrollbar.js"></script>
    <script defer src="/js/slick.js"></script>
    <script defer src="/js/timePicker.js"></script>
    <script defer src="/js/validation.js"></script>
    <script defer src="/js/wow.js"></script>
    <script defer src="/js/TweenMax.min.js"></script>


    <script defer src="js/jquery.full-search.js"></script>


    <script>
        $(function () {
            $("#search").on("search change keyup", function () {
                var text = this.value;
                $("body").highlite({
                    text: text
                });
            });
        });
    </script>

    <!-- thm custom script -->
    <script defer src="/js/custom.js"></script>
    <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "HomeAndConstructionBusiness",
          "name": "Stroy montaj invest Suv tozalash inshootlari",
          "url": "https://stroymontajinvest.uz/",
          "sameAs": [
            "https://stroymontajinvest.uz/projects",
            "https://www.stroymontajinvest.uz/"
          ],
          "logo": "https://stroymontajinvest.uz/images/stroy%20invest.png",
          "image": "https://stroymontajinvest.uz/uploads/projects/a80f5d14a339803a14eaba1ed0585455.jpg",
          "description": "Stroy Montaj Invest Qurilish va Suv tozalash inshootlarini qurish kompanyasi shu bilan birgalikda kanalizatsiyalarni tozalsh va remont qilish bilan ham shug'ullanadigan kompanya, Suv tozalash inshootlarini qurishda ko'p yillik tajribaga ega bo'lgan kompanya.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Termiz shahar Barkamol avlod ko'chasi 14 uy",
            "addressLocality": "Termiz",
            "addressRegion": "Surxondaryo",
            "postalCode": "190100",
            "addressCountry": "Uzbekiston"
          },
          "hasMap": "sadasdasdsa",
          "openingHours": "Mo, Tu, We, Th, Fr, Sa 08:00-20:00",
          "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "telefon",
            "telephone": "+9988 99 310 51 51"
          }
        }
         </script>
</body>

</html>