<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/" lang="uz_UZ">

<head prefix="my_namespace: https://stroymontajinvest.uz/projects">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(87577600, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/87577600" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
    <meta name="google-site-verification" content="ldivJ572o4EOXJrhmFORnonbeR05MUI6nAo1NUjtYZQ" />
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title %>
    </title>
    <!-- Meta Search -->
    <meta name="description"
        content="Ushbu website biz sizga chiqindi suv tozalash inshootlari haqida bilishingiz kerak bo'lgan hamma narsani aytib beramiz. Bu erda bu haqda bilib oling.">
    <meta name="keywords"
        content="Stroymontajinvest, Stroy Montaj Invest, stroy montaj invest, Qurilish, Suv inshoatlarini qurish, kanalizatsiya qurish,   канализационные сооружения, фильтрация сточных вод, строительная компания, ремонт канализационных сооружений,">
    <!-- google-site-verification -->
    <meta name="google-site-verification" content="ldivJ572o4EOXJrhmFORnonbeR05MUI6nAo1NUjtYZQ" />

    <meta property="og:title" content="Suv tozalash inshootlari: xususiyatlari, tozalash va afzalliklari" />
    <meta property="og:type" content="website" />
    <meta property="og:type" content="my_namespace:my_type" />
    <meta property="og:url" content="https://stroymontajinvest.uz/projects" />
    <meta property="og:image"
        content="https://stroymontajinvest.uz/uploads/projects/a80f5d14a339803a14eaba1ed0585455.jpg" />
    <meta property="og:description" 
        content="Ushbu website biz sizga chiqindi suv tozalash inshootlari haqida bilishingiz kerak bo'lgan hamma narsani aytib beramiz. Bu erda bu haqda bilib oling." />
        <meta property="og:locale" content="uz_UZ" />
        <meta property="og:site_name" content="stroymontajinvest" />  
        <meta property="og:image" content="https://stroymontajinvest.uz/uploads/projects/a80f5d14a339803a14eaba1ed0585455.jpg" />
        <meta property="og:image:secure_url" content="https://stroymontajinvest.uz/uploads/projects/a80f5d14a339803a14eaba1ed0585455.jpg" />
        <meta property="og:image:type" content="image/jpg" />
        <meta property="og:image:width" content="350" />
        <meta property="og:image:height" content="300" />
        <meta property="og:image:alt" content="Suv tozalash inshootlari" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/imp.css">
    <link rel="stylesheet" href="/css/custom-animate.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/owl.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/scrollbar.css">
    <link rel="stylesheet" href="/css/hiddenbar.css">
    <link rel="stylesheet" href="/css/icomoon.css">
    <link rel="stylesheet" href="/css/color.css">
    <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link rel="stylesheet" href="/css/rtl.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_stroy.png">
    <link rel="icon" type="image/png" href="/images/favicon_stroy.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicon_stroy.png" sizes="16x16">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/js/html5shiv.js"></script>
    <![endif]-->
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XMJTN7M46K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XMJTN7M46K');
    </script>

</head>

<body class="content">

    <div class="boxed_wrapper ltr">
        <!-- Main header-->
        <header class="main-header header-style-one">

            <!--Start Header Top-->
            <div class="header-top">
                <div class="container">
                    <div class="outer-box clearfix">

                        <div class="header-top-left pull-left">
                            <div class="header-contact-info">
                                <div class="left">
                                  <% if(lang === 'uz') { %>
                                  <p>
                                    <span class="flaticon-wall-clock"></span> Ish vaqti : 08 :
                                    00 / 20 : 00
                                  </p>
                                  <% } %> <% if(lang === 'ru') { %>
                                  <p>
                                    <span class="flaticon-wall-clock"></span> Рабочее время :
                                    08 : 00 / 20 : 00
                                  </p>
                                  <% } %> <% if(lang === undefined) { %>
                                  <p>
                                    <span class="flaticon-wall-clock"></span> Рабочее время :
                                    08 : 00 / 20 : 00
                                  </p>
                                  <% } %>
                                </div>
                                <div class="right">
                                  <% if(lang === 'uz') { %>
                                  <p>
                                    <span class="flaticon-envelope-2"></span
                                    ><a href="mailto:stroymontajinvest1@gmail.com">
                                      Pochta manzili : stroymontajinvest1@gmail.com</a
                                    >
                                    <br />
                                    <a href="mailto:ochistnyesoorujeniya@gmail.com">
                                      Pochta manzili : ochistnyesoorujeniya@gmail.com</a
                                    >
                                  </p>
                                  <% } %> <% if(lang === 'ru') { %>
                                    <p>
                                      <span class="flaticon-envelope-2"></span
                                      ><a href="mailto:stroymontajinvest1@gmail.com">
                                        Электронной почты : stroymontajinvest1@gmail.com</a
                                      >
                                      <br />
                                      <a href="mailto:ochistnyesoorujeniya@gmail.com">
                                        Электронной почты : ochistnyesoorujeniya@gmail.com</a
                                      >
                                    </p>
                                  <% } %> <% if(lang === undefined) { %>
                                    <p>
                                      <span class="flaticon-envelope-2"></span
                                      ><a href="mailto:stroymontajinvest1@gmail.com">
                                        Электронной почты : stroymontajinvest1@gmail.com</a
                                      >
                                      <br />
                                      <a href="mailto:ochistnyesoorujeniya@gmail.com">
                                        Электронной почты : ochistnyesoorujeniya@gmail.com</a
                                      >
                                    </p>
                                  <% } %>
                                </div>
                              </div>
                        </div>

                        <div class="header-top-right pull-right">
                            <div class="header-social-link-1">
                                <div class="social-link">
                                    
                                    <ul class="clearfix">
                                        <li><a target="_blank" href="https://facebook.com/stroymontajinvest"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="https://t.me/stroymontajinvest"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="https://www.instagram.com/stroymontajinvest/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End Header Top-->

            <!--Start Header-->
            <div class="header">
                <div class="container">
                    <div class="outer-box clearfix">
                        <div class="header-left clearfix pull-left">
                            <div class="logo">
                                <a href="/"><img src="/images/stroy_invest.png" class="img-logo" alt="Awesome Logo"
                                        title=""></a>
                            </div>
                        </div>
                        <div class="header-right pull-right">
                            <div class="header-contact-info2 clearfix">
                                <ul class="clearfix">
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-phone-call-1 clr1"></span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Telefon raqam
                                            </p>
                                            <h4><a href="tel:+9988993105151">+9988 99 310 51 51</a></h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <span class="flaticon-placeholder-1 clr1"></span>
                                        </div>
                                        <div class="text">
                                            <p>
                                                Manzil :
                                            </p>
                                            <h4>
                                                Termiz shahri
                                            </h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--End header-->

            <!--Start Header-->
            <div class="header-bottom">
                <div class="container">
                    <div class="outer-box clearfix">

                        <div class="header-bottom_left pull-left">
                            <div class="nav-outer style1 clearfix">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <div class="inner">
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </div>
                                </div>
                                <!-- Main Menu -->
                                <nav class="main-menu style1 navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">

                                            <li class="current"><a href="/">
                                                    Bosh sahifa
                                                </a></li>


                                            <li><a href="#about">
                                                    Biz haqimizda
                                                </a></li>

                                            <li><a href="#service">
                                                    Xizmatlar
                                                </a></li>

                                            <li><a href="#projects"> 
                                                    Loyihalar
                                                </a></li>

                                            <li><a href="#team">
                                                    Jamoa
                                                </a></li>
                                            <li><a href="/?clang=uz"><img
                                                        src="https://icons.iconarchive.com/icons/custom-icon-design/all-country-flag/256/Uzbekistan-Flag-icon.png"
                                                        width="20" height="20" alt="flag uzbekistan">
                                                    Uz
                                                </a></li>
                                            <li><a href="/?clang=ru"><img
                                                        src="https://icons.iconarchive.com/icons/wikipedia/flags/256/RU-Russia-Flag-icon.png"
                                                        width="20" height="20" alt="flag uzbekistan">
                                                    Ru
                                                </a></li>
                                        </ul>
                                    </div>
                                </nav>
                                <!-- Main Menu End-->
                            </div>
                        </div>

                        <div class="header-bottom_right pull-right">
                            <div class="outer-search-box-style1">
                                <div class="seach-toggle"><span class="flaticon-magnifiying-glass"></span></div>
                                <ul class="search-box">
                                    <li>
                                        <div class="form-group">
                                            <input type="search" id="search" placeholder="Qidiruv tizimi..."
                                                required="">
                                            <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="header-bottom_right__btn">

                                <a href="/contact"><span class="flaticon-comments"></span>
                                    Aloqa
                                    <span class="flaticon-right-arrow-1 right-arrow"></span></a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--End header-->


            <!--Sticky Header-->
            <div class="sticky-header">
                <div class="container">
                    <div class="clearfix">
                        <!--Logo-->
                        <div class="logo float-left">
                            <a href="/" class="img-responsive"><img src="/images/stroy_invest.png" alt="stroy"
                                    title=""></a>
                        </div>
                        <!--Right Col-->
                        <div class="right-col float-right">
                            <!-- Main Menu -->
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Sticky Header-->

            <!-- Mobile Menu  -->
            <div class="mobile-menu">
                <div class="menu-backdrop"></div>
                <div class="close-btn"><span class="icon fa fa-times-circle"></span></div>

                <nav class="menu-box">
                    <div class="nav-logo"><a href="/"><img src="/images/stroy_invest.png" alt="" title=""></a>
                    </div>
                    <div class="menu-outer">
                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                    </div>
                    <!--Social Links-->
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a target="_blank" href="https://facebook.com/stroymontajinvest"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://t.me/stroymontajinvest"><i class="fab fa-telegram" aria-hidden="true"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/stroymontajinvest/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- End Mobile Menu -->

        </header>
        <!--Start breadcrumb area-->
        <section class="breadcrumb-area" style="background-image: url(/images/breadcrumb/breadcrumb-1.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="inner-content">
                            <div class="title">
                                <h2>Loyihalar</h2>
                            </div>
                            <div class="breadcrumb-menu">
                                <ul>
                                    <li><a href="/">Bosh sahifa</a></li>
                                    <li><span class="fa fa-angle-right"></span></li>
                                    <li class="active">Loyihalar<i class="flaticon-right-arrow-1 arrow1"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--End breadcrumb area-->


        <!--Start Project Style3 Area-->
        <section class="project-style3-area">
            <div class="container">
                <div class="row">
                    <% for (let item of projects) { %>
                        <!--Start Single Project Style1-->
                        <div class="col-xl-3 col-lg-6 col-md-6">
                            <div class="single-project-style1 wow fadeInUp" data-wow-delay="0ms"
                                data-wow-duration="1500ms">
                                <div class="img-holder">
                                    <div class="icon bgclr1"><span class="flaticon-factory-1"></span></div>
                                    <div class="inner">
                                        <img src="/uploads/projects/<%= item.file[0] %>" alt="Suv tozalash inshootlari"
                                            style="height: 300px !important; width: 350px !important;">
                                        <div class="zoom-button">
                                            <a class="lightbox-image" data-fancybox="gallery"
                                                href="/uploads/projects/<%= item.file[0] %>">
                                                <i class="flaticon-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="title-holder">
                                    <h4>
                                        <%= item.title.uz %>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <!--End Single Project Style1-->
                        <%}%>
                </div>
            </div>
        </section>
        <!--End Project Style3 Area-->

        <!-- Description -->
        <section class="project-style3-area">
            <div class="container" itemscope itemtype="https://schema.org/HomeAndConstructionBusiness"> 
                <h1 class="text-center" itemprop="name">Suv tozalash inshootlari: xususiyatlari, tozalash va afzalliklari</h1>
                <p itemprop="description">Insonning barcha harakatlarida tozalash kerak bo'lgan chiqindi suvlar hosil bo'ladi. WWTP - bu
                    stansiyalar tozalash inshootlari chiqindi suv va bu suvlarni tozalash uchun javobgardir. Bu
                    shaharlar, sanoat, qishloq xo'jaligi va hokazolardan kelib chiqadigan inson faoliyati natijasida
                    yuzaga keladigan suvdir. Atrof-muhit uchun potentsial xavf tug'dirishi, chunki to'kilishi va oqishi
                    ekologik ofatlarni keltirib chiqaradigan toksik moddalarni chiqarishi mumkin.

                    Shuning uchun biz sizga suv tozalash inshootlari haqida bilishingiz kerak bo'lgan hamma narsani
                    aytib beramiz.
                <ul>
                    <li>0.1 Suvni tozalash jarayonlari</li>
                    <li>1 Kanalizatsiya inshootlarida ishlov berish</li>
                    <li> 1.0.1 Birlamchi davolash</li>
                    <li>1.0.2 Tozalash inshootlarida ikkilamchi ishlov berish</li>
                </ul>
                Suvlarni tabiiy muhitga qaytarish uchun ular asosiy maqsadi chiqindilarni yo'q qilish bo'lgan bir qator
                muolajalarga amal qilishlari kerak. Tozalash usullari chiqindi suvlarning xususiyatlariga va uning
                oxirgi manziliga qarab farqlanadi. Bizga ma'lumki, chiqindi suv kollektor naychalari orqali to'planib,
                uni tozalash inshootlariga etib boradi. Bu erda ularni tozalash uchun turli xil muolajalar o'tkaziladi.

                Deyarli barcha fasllarda suvlar kanalga qaytarilishidan oldin o'rtacha 24-48 soat qolishga moyildir.
                Ushbu kanal daryo, suv ombori yoki dengiz bo'lishi mumkin. Tozalash inshootlarida ular quyidagi
                muolajalarga duchor bo'ladilar:

                <ul>
                    <li> <b>Oldindan davolash:</b> Bu qum va yog'lar kabi suvda mavjud bo'lgan eng katta qattiq
                        moddalarni yo'q
                        qilishdan iborat. Ushbu oldindan ishlov berish suvni keyingi jarayonlari uchun konditsioner
                        qilish uchun
                        zarurdir.</li>
                    <li><b>Birlamchi davolash</b></li>
                    <li><b>Ikkilamchi davolash:</b> Bu faqat suvni muhofaza qilinadigan tabiiy hududlarga quyish uchun
                        uni yanada
                        tozalashni xohlagan holatlarda qo'llaniladi. Ularning narxi yuqori bo'lganligi sababli, odatda
                        odatdagidek bajarilmaydi.</li>
                </ul>

                Biz tozalash inshootlarida qanday asosiy jarayonlar sodir bo'lishini bosqichma-bosqich tushuntirib
                beramiz.
                <h2>Kanalizatsiya inshootlarida ishlov berish</h2>
                <p>
                <h3>Birlamchi davolash</h3>
                U suvdagi to'xtatilgan zarrachalarni kamaytirish maqsadida qo'llaniladigan ba'zi fizik-kimyoviy
                jarayonlardan iborat. Topilgan to'xtatilgan qattiq moddalarning aksariyati cho'kindi yoki suzuvchi
                bo'lishi mumkin. Cho'kindilar odatda qisqa vaqtdan so'ng tubiga etib boradilar, ikkinchisi shu qadar
                kichik zarralarki, ular allaqachon suvga qo'shilib, mening cho'kindimni suzib yurolmaydilar. Ushbu
                kichik zarralarni yo'q qilish uchun boshqa talab qilinadigan muolajalar zarur.

                Birlamchi davolashda qo'llaniladigan ba'zi usullarga quyidagilar kiradi:</p>

                <ul>
                    <li><b>Cho'kma:</b> bu tortishish kuchi tufayli cho'kindi zarralarning tubiga tushishi mumkin
                        bo'lgan jarayon. Oddiy va arzon bo'lgan ushbu jarayonda suv tarkibidagi qattiq moddalarning 40%
                        gacha yo'q qilinishi mumkin. Tozalash inshootining ichida dekantrlar deb nomlangan baklar mavjud
                        va bu erda cho'kma sodir bo'ladi.</li>

                    <li> <b>Floatation:</b> Bu ko'piklarni, yog'larni va yog'larni yo'q qilishdan iborat, chunki
                        ularning zichligi pastligi sababli ular suvning sirt qatlamiga joylashadi. Ushbu jarayonda
                        zichligi pastroq bo'lgan zarralarni olib tashlash ham mumkin. Buning uchun ularning ko'tarilishi
                        va olib tashlanishini engillashtirish uchun havo pufakchalarini AOK qilish kerak. Ushbu
                        flotatsiya yordamida to'xtatilgan qattiq zarralarning 75% gacha olib tashlanishi mumkin. Ushbu
                        jarayon eritilgan havo suzuvchi deb ataladigan boshqa tanklarda sodir bo'ladi.</li>

                    <li><b>Neytrallashtirish:</b> bu pH normallashuvidan iborat bo'lgan jarayon. Bu shuni anglatadiki,
                        suv 6-8.5 oralig'ida pH qiymatiga o'rnatilishi kerak. Kislotali chiqindi suvlar uchun tozalash
                        inshootlari suvning pH qiymatini oshirish uchun ishqoriy moddalarga qo'shiladigan og'ir
                        metallarning miqdorini tartibga solishi kerak. Aksincha, chiqindi suv ko'proq gidroksidi
                        karbonat angidridga ega bo'lib, pH qiymatini normal qiymatlarga etkazadi.
                    </li>

                    <li><b>Boshqa jarayonlar:</b> agar siz chiqindi suvni yanada kattaroq tozalashga erishmoqchi
                        bo'lsangiz, ba'zi usullar qo'llaniladi, masalan, septik tanklar, lagunlar, yashil filtrlar yoki
                        ion almashinuvi, qaytarilish, oksidlanish va boshqalar kabi kimyoviy jarayonlar.</li>
                </ul>

                <h2>Tozalash inshootlarida ikkilamchi ishlov berish</h2>

                Avval aytib o'tganimizdek, yuqori darajada tozalash talab etilmasa, ushbu ikkilamchi tozalash
                kanalizatsiya inshootlarida amalga oshirilmaydi. U mavjud bo'lgan organik moddalarni deyarli butunlay
                yo'q qilishga qaratilgan biologik jarayonlar to'plamidan iborat. Ular biologik jarayonlar bo'lib, ba'zi
                bakteriyalar va mikroorganizmlar organik moddalarni uyali biomassaga, energiya, gaz va suvga aylantirish
                uchun ishlatiladi. Ushbu muolajaning boshqalardan afzalligi shundaki, u 90% samara beradi.

                Kanalizatsiya tozalash inshootlarini ikkilamchi tozalashda uni aerob va anaerob kabi ayrim alohida
                jarayonlar ajratib turadi. Birinchisi kislorod ishtirokida, ikkinchisi kislorod yo'qligida. Keling,
                ularning nima ekanligini ko'rib chiqaylik:


                <ul>
                    <li><b>Aerobik jarayonlar:</b> stamens chiqindi suvga kiradigan tanklarga kislorodni kiritish kerak. Ushbu bosqichda organik moddalarning parchalanishi sodir bo'ladi va suv va karbonat angidrid ajralib chiqadi. Ushbu bosqichda azotli mahsulotlar yo'q qilinadi, masalan, azotning juda toksik hosilasi bo'lgan ammiak. Nitrat endi toksik bo'lmasa-da, bu o'simliklar tomonidan o'zlashtirilishi mumkin bo'lgan shakl, shuning uchun suv o'tlari ko'payishiga va ularning ozuqaviy qayta o'sishiga olib kelishi mumkin. Ushbu ozuqaviy moddalarni boyitish jarayoni evtrofikatsiya deb nomlanadi.</li>
                    <li>
                        <b>Anaerob jarayonlar:</b> bu kislorod bo'lmaganda amalga oshiriladi va ularda fermentativ reaktsiyalar sodir bo'ladi, unda organik moddalar energiya, karbonat angidrid va metan gaziga aylanadi.
                    </li>
                </ul>
                Tozalash inshootlarida o'tkaziladigan ba'zi muolajalarni eslatib o'tamiz:

                <ul>
                    <li><b>Faol loy:</b> Bu kislorod ishtirokida amalga oshiriladigan va reaktsiyalar sodir bo'ladigan kislorodni filtrlash uchun mikroorganizmlar bilan organik moddalar to'plamlarini qo'shishdan iborat davolash.</li>

                    <li><b>Bakterial yotoqlar:</b> Bu aerob jarayondir va u mikroorganizmlar va suvning qoldiqlari bo'lgan joylarda tayanchlarni joylashtirishni o'z ichiga oladi. Aerobik sharoitlarni saqlash uchun ozgina miqdor qo'shiladi.</li>

                    <li><b>Yashil filtrlar</b>: Ular chiqindi suv bilan sug'oriladigan va aralashmalarni singdirish qobiliyatiga ega bo'lgan ekinlardir.</li>

                    <li><b>Anaerob hazm qilish:</b> ular kislorod yo'q bo'lganda to'liq yopiq tanklarda amalga oshiriladi. Bu erda bakteriyalar organik moddalarni buzganda kislota va metan hosil qiluvchi moddalardan foydalaniladi.</li>
                </ul>
                Umid qilamanki, ushbu ma'lumot bilan siz tozalash inshootlari va ularning xususiyatlari haqida ko'proq bilib olishingiz mumkin.
                </p>
                <p><b>Manzil:</b><span itemprop="address">Termiz shahri barkamol avlod kuchasi 14 uy</span></p>
                <p><a itemprop="telephone" href="tel:+998993105151">+998 99 310 51 51</a></p>
            </div>
        </section>



        <!--Start footer area -->
        <footer class="footer-area">
            <!--Start Footer-->
            <div class="footer">
                <div class="container">
                    <div class="row justify-content-between">
                        <!--Start single footer widget-->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                            <div class="single-footer-widget marbtm wow animated fadeInUp" data-wow-delay="0.1s">
                                <div class="our-company-info">
                                    <div class="footer-logo">
                                        <a href="/"><img src="/images/stroy_invest.png" alt="Footer Logo"
                                                title="Logo"></a>
                                    </div>
                                    <div class="text-box">
                                        <p>Uy joy Qurish va Suv tozalash inshootlarini ishlab chiqarish kompanyasi.</p>
                                    </div>
                                    <div class="footer-social-links">
                                        <ul class="social-links-style1">
                            
                                            <li>
                                                <a target="_blank" href="https://facebook.com/stroymontajinvest"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://t.me/stroymontajinvest"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="https://www.instagram.com/stroymontajinvest/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 wow animated fadeInUp" data-wow-delay="0.3s">
                            <div class="single-footer-widget martop marbtm">
                                <div class="title">
                                    <h3>
                                        Bosh sahifa
                                    </h3>
                                </div>
                                <ul class="footer-widget-links1">

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                            Xizmatlar
                                        </a></li>

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                            Loyihalar
                                        </a></li>

                                    <li><a href="#"><i class="fa fa-angle-right"></i>
                                            Jamoa
                                        </a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                        <!--Start single footer widget-->
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 wow animated fadeInUp" data-wow-delay="0.5s">
                            <div class="single-footer-widget martop marbtm">
                                <div class="title">
                                    <h3>QO'LLAB QUVVATLASH</h3>
                                </div>
                                <ul class="footer-widget-links1">

                                    <li><a href="#">
                                            Yordam
                                        </a></li>

                                    <li><a href="#">
                                            Aloqa
                                        </a></li>

                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
            <!--End Footer-->
            <!--Start Footer Bottom-->
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom_content_box text-center">
                        <div class="copyright-text">
                            <p>&copy; 2022 <a target="_blank" href="http://tasnim.uz">Tasnim Texnalogiya Akademiyasi</a>
                                mualliflik huquqi asosida

                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer Bottom-->

        </footer>
        <!--End footer area-->


        <button class="scroll-top scroll-to-target bgclr1" data-target="html">
            <span class="fa fa-angle-up"></span>
        </button>

    </div>






    <script type="application/ld+json" src="/js/schema.json"></script>
    <script defer src="/js/jquery.js"></script>
    <script defer src="/js/aos.js"></script>
    <script defer src="/js/appear.js"></script>
    <script defer src="/js/bootstrap.bundle.min.js"></script>
    <script defer src="/js/bootstrap-select.min.js"></script>
    <script defer src="/js/isotope.js"></script>
    <script defer src="/js/jquery.bxslider.min.js"></script>
    <script defer src="/js/jquery.countdown.min.js"></script>
    <script defer src="/js/jquery.countTo.js"></script>
    <script defer src="/js/jquery.easing.min.js"></script>
    <script defer src="/js/jquery.enllax.min.js"></script>
    <script defer src="/js/jquery.fancybox.js"></script>
    <script defer src="/js/jquery.magnific-popup.min.js"></script>
    <script defer src="/js/jquery.paroller.min.js"></script>
    <script defer src="/js/jquery.polyglot.language.switcher.js"></script>
    <script defer src="/js/jQuery.style.switcher.min.js"></script>
    <script defer src="/js/jquery-ui.js"></script>
    <script defer src="/js/knob.js"></script>
    <script defer src="/js/map-script.js"></script>
    <script defer src="/js/owl.js"></script>
    <script defer src="/js/pagenav.js"></script>
    <script defer src="/js/parallax.min.js"></script>
    <script defer src="/js/scrollbar.js"></script>
    <script defer src="/js/slick.js"></script>
    <script defer src="/js/timePicker.js"></script>
    <script defer src="/js/validation.js"></script>
    <script defer src="/js/wow.js"></script>
    <script defer src="/js/TweenMax.min.js"></script>


    <script defer src="js/jquery.full-search.js"></script>


    <script>
        $(function () {
            $("#search").on("search change keyup", function () {
                var text = this.value;
                $("body").highlite({
                    text: text
                });
            });
        });
    </script>

    <!-- thm custom script -->
    <script defer src="/js/custom.js"></script>
    <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "HomeAndConstructionBusiness",
          "name": "Stroy montaj invest Suv tozalash inshootlari",
          "url": "https://stroymontajinvest.uz/",
          "sameAs": [
            "https://stroymontajinvest.uz/projects",
            "https://www.stroymontajinvest.uz/"
          ],
          "logo": "https://stroymontajinvest.uz/images/stroy%20invest.png",
          "image": "https://stroymontajinvest.uz/uploads/projects/a80f5d14a339803a14eaba1ed0585455.jpg",
          "description": "Stroy Montaj Invest Qurilish va Suv tozalash inshootlarini qurish kompanyasi shu bilan birgalikda kanalizatsiyalarni tozalsh va remont qilish bilan ham shug'ullanadigan kompanya, Suv tozalash inshootlarini qurishda ko'p yillik tajribaga ega bo'lgan kompanya.",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Termiz shahar Barkamol avlod ko'chasi 14 uy",
            "addressLocality": "Termiz",
            "addressRegion": "Surxondaryo",
            "postalCode": "190100",
            "addressCountry": "Uzbekiston"
          },
          "hasMap": "sadasdasdsa",
          "openingHours": "Mo, Tu, We, Th, Fr, Sa 08:00-20:00",
          "contactPoint": {
            "@type": "ContactPoint",
            "contactType": "telefon",
            "telephone": "+9988 99 310 51 51"
          }
        }
         </script>
</body>

</html>